/* src/css/listTransactions.css */

.blockchain-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #8f9389;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #fff; /* White text */
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  text-align: center;
  color: #ca8610;
  margin-bottom: 20px;
  font-size: 4em;
}

.loading,
.error {
  text-align: center;
  color: #ff0000;
}

.no-blocks {
  text-align: center;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

.block {
  background-color: #4a4a4a;
  color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.block-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ca8610;
}

.block-content {
  background-color: #6e6e6e;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.block-content p {
  margin: 5px 0;
}
