/* MineBlockForm.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #8f9389; /* Dark gray background for form container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px; /* Adjust the width to make the form smaller */
}

input[type='text'] {
  width: 90%; /* Adjust the width to fit within the smaller container */
  padding: 8px; /* Reduce padding for a more compact input field */
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

button {
  width: 90%; /* Adjust the width to fit within the smaller container */
  padding: 8px; /* Reduce padding for a more compact button */
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #adb453; /* Blue button background */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #7f8943; /* Darker blue when disabled */
}

button:hover:enabled {
  background-color: #7f8943; /* Darker blue on hover */
}

p {
  color: red; /* Error message in red */
}

h2 {
  font-size: 1.5em; /* Adjust font size for smaller form */
  margin-bottom: 20px;
  color: #ca8610;
  animation: fadeIn 2s ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
