/* mainPage.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

.mainpage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
}

.menu a,
.menu button {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  width: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  text-decoration: none;
}

.menu a:hover,
.menu button:hover {
  background-color: #704e17;
  transform: scale(1.05);
}

.menu button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(243, 156, 18, 0.7);
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
