.transaction-container {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
}

.titleTransaction {
  text-align: center;
  font-size: 3em;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
  color: #ca8610;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.transaction-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: yellow;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #333;
  color: white;
}

.submit-button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #bfc844;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
  width: 250px;
}

.submit-button:hover {
  background-color: orange;
}

.message {
  text-align: center;
  margin-top: 15px;
  color: lightgreen;
}
