/* src/components/MineTransactions.css */
.mine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #8f9389;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Arial, sans-serif;
}

.mine-container h2 {
  margin-bottom: 20px;
  color: #ca8610;
}

.mine-container button {
  padding: 10px 20px;
  background-color: #adb453;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.mine-container button:disabled {
  background-color: #7f8943;
}

.mine-container p {
  color: #1fc48a;
}
