/* src/components/MineTransactions.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mine-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #8f9389;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.mine-container h2 {
  margin-bottom: 20px;
  color: #ca8610;
}

.mine-container button {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #adb453;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.mine-container button:disabled {
  background-color: #7f8943;
}

.mine-container p {
  color: #1fc48a;
}
