body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #8f9389;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-groupRegister {
  margin: 10px 0;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}

h1 {
  color: #ca8610;
}

.bRegister,
.bLogin {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #adb453;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.bRegister:hover,
.bLogin:hover {
  background-color: #7f8943;
}

p {
  margin-top: 10px;
  color: #ca8610;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
